<footer id="footer" data-stellar-background-ratio="0.5">
	<div class="container">
        <div class="social-links">
			<ul class="social-icon">
				<li>
					<a href="#" class="fa fa-twitter"></a>
				</li>
				<li>
					<a href="#" class="fa fa-instagram"></a>
				</li>
				<li>
					<a href="#" class="fa fa-google"></a>
				</li>
			</ul>
			<div>
                <p>
                    <br>Open Monday - Sunday: 8am to 8pm
                    <br> 3529 NE Martin Luther King Jr 
                    Blvd Portland, OR 97212 
					<br><br>Copyright &copy; 2021 The Database Rangers
                </p>
			</div>
		</div>
	</div>
</footer>