<!DOCTYPE html>
<html lang="en"> 
  <head>  
    <meta charset="utf-8">
    <title>Cute Cat Cafe</title>
    <meta name="description" content="A fictional cat cafe in Portland Oregon.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Add site styling -->
    <link href="./css/style.css" rel="stylesheet" type="text/css" media="all" />
    <link rel="shortcut icon" href="./images/favicon.ico">
  </head>
  <body>
    {{> header}}
    {{> nav}}
    <section id="content">
      {{{body}}}
    </section>
    {{> footer}}
  </body>
</html>