<!DOCTYPE html>
<html lang="en"> 
  <head>  
    <meta charset="utf-8">
    <title>Cute Cat Cafe</title>
    <meta name="description" content="A fictional cat cafe in Portland Oregon.">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- 3rd Party Style Sheets -->
    <link rel="stylesheet" href="./css/font-awesome.min.css">
    <link rel="stylesheet" href="./css/animate.css">
    <link rel="stylesheet" href="./css/bootstrap.min.css">


    <!-- Site Main Style -->
    <link rel="stylesheet" href="./css/style.css">
    <link rel="shortcut icon" href="./images/favicon.ico">
  </head>
  <body>
    {{> nav}}
    {{{body}}}
    {{> footer}}
  </body>
  <script src="./js/util/jquery.js"></script>
  <script src="./js/util/jquery.stellar.min.js"></script>
  <script src="./js/util/bootstrap.min.js"></script>
  <script src="./js/main.js"></script>
</html>