<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-first">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Checkout</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="shopping-cart">
  <!-- Title -->
  <div class="s_title">
    Your Beverage Order
  </div>
 
  <!-- Product #1 -->
  <div class="checkout_item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
 
    <div class="description">
      <span>Caramel Frappe</span>
    </div>
 
    <div class="quantity">
        <button class="minus-btn" type="button" name="button">
        <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
      </button>
    </div>
 
    <div class="total-price">$6.25</div>
  </div>
 
  <!-- Product #2 -->
  <div class="checkout_item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
 
    <div class="description">
      <span>White Mocha</span>
    </div>
 
    <div class="quantity">
      <button class="minus-btn" type="button" name="button">
        <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
      </button>
    </div>
 
    <div class="total-price">$4.50</div>
  </div>
 
  <!-- Product #3 -->
  <div class="checkout_item">
    <div class="buttons">
      <span class="delete-btn"></span>
    </div>
 
    <div class="description">
      <span>Chai Latte</span>
    </div>
 
    <div class="quantity">
      <button class="minus-btn" type="button" name="button">
        <img src="https://designmodo.com/demo/shopping-cart/minus.svg" alt="" />
      </button>
      <input type="text" name="name" value="1">
      <button class="plus-btn" type="button" name="button">
        <img src="https://designmodo.com/demo/shopping-cart/plus.svg" alt="" />
      </button>
    </div>
 
    <div class="total-price">$4.00</div>
  </div>
</div>

    

<!-- I was having trouble adding the Javascript so maybe you can help me...
$('.minus-btn').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    var $input = $this.closest('div').find('input');
    var value = parseInt($input.val());
 
    if (value &amp;amp;gt; 1) {
        value = value - 1;
    } else {
        value = 0;
    }
 
  $input.val(value);
 
});
 
$('.plus-btn').on('click', function(e) {
    e.preventDefault();
    var $this = $(this);
    var $input = $this.closest('div').find('input');
    var value = parseInt($input.val());
 
    if (value &amp;amp;lt; 100) {
        value = value + 1;
    } else {
        value =100;
    }
 
    $input.val(value);
});
-->

<script src="./js/menu.js"></script>