<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item item-first">
            <div class="caption">
                <div class="container">
                    <div class="col-md-8 col-sm-12">
                        <h3>New Purr-ific Beverages</h3>
                        <h1>Try out our new line of teas, coffees, and frappes.</h1>
                        <a href="./menu" class="button btn btn-default">Menu</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div class="row">
        <h3 class="centered">Temporary index with all site pages</h3>
    </div>
</div>
<div class="container sub-menu centered">
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2><a href="./cats">Cats</a></h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2><a href="./rooms">Rooms</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2><a href="./menu">Menu</a></h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2><a href="./checkout">Checkout</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2><a href="./beverages">Beverages</a></h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2><a href="./ingredients">Ingredients</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2><a href="./account">User Profile</a></h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2><a href="./admin">Admin</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2><a href="./login">Login</a></h2>
        </div>
        <div class="col-md-6 col-sm-6">
            <h2><a href="./register">Register</a></h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6 col-sm-6">
            <h2><a href="./reservations">Create Reservation</a></h2>
        </div>
    </div>
</div>

