<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-second">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Menu</h1>
                </div>
            </div>
        </div>
    </div>
</section>




<div style="margin: 15px auto; width: 20%; margin-left: auto; margin-right: auto">
   <div class="search_outer">
   <div class="menu_search">
    <form action="/action_page.php">
      <input type="text" placeholder="Search.." name="search">
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
  </div>
   <table class="waffle no-grid" >
      <tbody>
         <tr style="height:20px;">
            <th  style="height: 20px;" class="row-headers-background"></th>
            <td></td>
            <td><strong>Beverage</strong></td>
            <td><strong>Price</strong></td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td>Hot Drinks (16 oz)</td>
            <td><button id="myBtn">Americano</button></td>
            <td>$3.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Cappuccino</td>
            <td class="s0" dir="ltr">$4.00</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Latte</td>
            <td class="s0" dir="ltr">$4.00</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Coffee</td>
            <td class="s0" dir="ltr">$2.75</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Hot Tea</td>
            <td class="s0" dir="ltr">$2.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Mocha</td>
            <td class="s0" dir="ltr">$4.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">White Mocha</td>
            <td class="s0" dir="ltr">$4.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Chai Latte</td>
            <td class="s0" dir="ltr">$4.00</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Hot Chocolate</td>
            <td class="s0" dir="ltr">$4.00</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0" dir="ltr">Cold Drinks (20 oz)</td>
            <td class="s0" dir="ltr">Iced Tea</td>
            <td class="s0" dir="ltr">$2.75</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Iced Mocha</td>
            <td class="s0" dir="ltr">$4.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Iced Chai</td>
            <td class="s0" dir="ltr">$4.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Iced Latte</td>
            <td class="s0" dir="ltr">$4.50</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Iced Coffee</td>
            <td class="s0" dir="ltr">$3.00</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0"></td>
            <td class="s0"></td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0 softmerge" dir="ltr">
               <div class="softmerge-inner" style="width: 159px; left: -1px;">Blended Drinks (20 oz)</div>
            </td>
            <td class="s0" dir="ltr">Coffee Frappe</td>
            <td class="s0" dir="ltr">$5.75</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Mocha Frappe</td>
            <td class="s0" dir="ltr">$6.25</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Caramel Frappe</td>
            <td class="s0" dir="ltr">$6.25</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0" dir="ltr">Chai Frappe</td>
            <td class="s0" dir="ltr">$6.25</td>
         </tr>
         <tr style="height:20px;">
            <th style="height: 20px;" class="row-headers-background"></th>
            <td class="s0"></td>
            <td class="s0 softmerge" dir="ltr">
               <div class="softmerge-inner" style="width: 135px; left: -1px;">White Mocha Frappe</div>
            </td>
            <td class="s0" dir="ltr">$6.25</td>
         </tr>
      </tbody>
   </table>
</div>

<!-- The Modal -->
<div id="myModal" class="modal">

  <!-- Modal content -->
  <div class="modal-content">
    <span class="close">&times;</span>
    <p>More info and a button to add this to the cart can go here</p>
  </div>

</div>

<script src="./js/menu.js"></script>