<section id="content" class="banner" data-stellar-background-ratio="0.5">
    <div class="row">
        <div class="item page-alt item-second">
            <div class="caption caption-alt">
                <div class="container">
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="container">
    <div id="userform">
        {{#if error}}
        <div id="message" class="error"><i class="fa fa-times-circle"></i>{{error}}</div>
        {{/if}}
        {{#if success}}
        <div id="message" class="success"><i class="fa fa-check"></i>{{success}}</div>
        {{/if}}
        <div id="registerForm" class="generic-form" >
            <h2>Create Customer Account</h2>
            <form action="/register" method="post">
                <label for="fname">First Name</label><br>	
                <input type="text" id="fname" name="fname" required />
                <label for="lname">Last Name</label><br>	
                <input type="text" id="lname" name="lname" required />
                <label for="email">Email</label><br>	
                <input type="text" id="email" name="email" required />
                <label for="password">Password</label><br>
                <input type="password" id="password" name="password" required />
                <label class="checkboxSet">Member
                <input type="checkbox" id="member" value="member" name="member">
                <span class="checkmark"></span>
                </label>
                <label class="checkboxSet">Admin
                <input type="checkbox" id="admin" value="admin" name="admin">
                <span class="checkmark"></span>
                </label>
                <input type="submit" value="Register" />
                <a href="/login" id="login">Login</a>
            </form>
        </div>
    </div>
</div>