/* CSS DIRECTORY
  1. GLOBAL
  2. LINKS
  3. HEADERS & PARAGRAPHS
  4. NAVIGATION
  5. RESPONSIVE NAVIGATION
  6. MAIN
  7. CHECKOUT
  8. SEARCH BAR FOR MENU
  9. MODAL FOR MENU
  10. FORM
  11. TABLE
  12. FOOTER
*/


/* COLORS
  - default body text  
  - highlight color - #c061bb
	- primary header     
	- links active       
*/


/*====================================
	GLOBAL SETTINGS 
====================================*/
@import url('https://fonts.googleapis.com/css2?family=Yusei+Magic&display=swap');

html {
	-webkit-font-smoothing: antialiased;
}
   
body {
    background: #ffffff;
    font-family: 'Yusei Magic', sans-serif;
    overflow-x: hidden;
}

.overlay {
    background: rgba(0,0,0,0.5);
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
   
/*====================================
	LINKS 
====================================*/
a {
  color: #252525;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  text-decoration: none !important;
}
   
a:hover, a:active, a:focus {
  color: #7e317a;
	outline: none;
	text-decoration: none;
}
   
a img {
	border: none;
}
   
p {
	line-height: 150%;
}
   
   
/*====================================
	HEADERS & PARAGRAPHS
====================================*/ 
h1,
h2,
h3 {
	font-weight: bold;
	line-height: inherit;
}
   
h1 {
	color: #252525;
	font-size: 3em;
	line-height: 50px;
}
   
h2 {
	color: #353535;
	font-size: 2em;
	padding-bottom: 10px;
}

h2 a:hover, h2 a:active, h2 a:focus {
    color: #7e317a;
	outline: none;
	text-decoration: none;
}

.centered {
    text-align: center;
}
   
h3 {
	font-size: 1.5em;
	margin-bottom: 0;
}
   
h3,
h3 a {
	color: #454545;
}

p {
	color: #757575;
	font-size: 14px;
	font-weight: normal;
	line-height: 24px;
}

.title {
    padding-bottom: 40px;
  }

.title h2 {
    margin: 0;
}

.title h4 {
    color: #bfbdbd;
    font-size: 10px;
    letter-spacing: 1px;
    text-transform: uppercase;
    margin-top: 0;
}

@media only screen and (max-width: 767px) {
    h1 {
      font-size: 2.5em;
    }

    h1, h2, h3 {
      line-height: normal;
    }
}

@media only screen and (max-width: 580px) {
  h1 {
    font-size: 2.1em;
  }

  h2 {
    font-size: 1.8em;
	}
	
	h3 {
		font-size: 1.0em;
	}
}

/*====================================
	NAVIGATION
====================================*/
.main-nav {
    border: none;
    margin-bottom: 0;
    padding: 25px 0;
}

.main-nav .navbar-brand {
    color: #fff;
    font-size: 24px;
    font-weight: bold;
}

.main-nav .navbar-brand span {
    color: #fff;
}

.nav-collapse {
    background: #ffffff;
}

.main-nav .navbar-nav.nav-first {
    margin-left: 8em;
}

.main-nav .navbar-nav.navbar-right li a {
    padding-right: 12px;
    padding-left: 12px;
}

.main-nav .navbar-nav.navbar-right .button {
    display: inline-block;
    margin: 0.2em 0 0 1em;
}

.main-nav .navbar-nav.navbar-right .button:hover {
    background: #fff;
    color: #000;
}

.main-nav .navbar-nav.navbar-right .button:focus {
    color: #000;
}

.main-nav .navbar-nav.navbar-right .button a {
    padding: 10px 25px;
}

.main-nav .nav .button a:hover {
    color: #000;
}

.main-nav .nav li a {
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    padding-right: 22px;
    padding-left: 22px;
    text-transform: uppercase;
}

.main-nav .nav li a:hover {
    background: transparent;
    color: #c061bb;
}

.main-nav .navbar-nav > li > a:hover,
.main-nav .navbar-nav > li > a:focus {
    background-color: transparent;
}

.main-nav .nav li.active > a {
    background-color: transparent;
    color: #c061bb;
}

.main-nav .navbar-toggle {
    border: none;
    padding-top: 10px;
}

.main-nav .navbar-toggle {
    background-color: transparent;
}

.main-nav .navbar-toggle .icon-bar {
    background: #252525;
    border-color: transparent;
}

.main-nav .fa {
  font-size: 20px;
}

/*====================================
	RESPONSIVE NAVIGATION
====================================*/
@media screen and (max-width: 1170px) {
 	.main-nav .navbar-nav.nav-first {
		margin-left: inherit;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    .main-nav .nav li a {
      	padding-right: 10px;
      	padding-left: 10px;
    }
}

@media(min-width:768px) {
    .main-nav {
		border-bottom: 0;
		background-color: rgba(0, 0, 0, 0.4);
	}

    .main-nav.nav-collapse {
		background: #ffffff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 12px 0;
    }

    .nav-collapse .navbar-brand {
      	color: #454545;
    }

    .nav-collapse .nav li a {
      	color: #575757;
    }

    .nav-collapse .nav .button a {
	  	color: #ffffff;
	}
}

@media only screen and (max-width: 768px) {
 .main-nav {
		background: #ffffff;
		-webkit-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		-moz-box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		box-shadow: 0 1px 30px rgba(0, 0, 0, 0.1);
		padding: 10px 0;
		text-align: center;
	}

 .main-nav .nav li a {
		line-height: normal;
		padding: 10px;
    }

 .main-nav .navbar-brand,
 .nav-collapse .navbar-brand {
		color: #252525;
		font-weight: 600;
    }

 .main-nav .nav li a,
 .nav-collapse .nav li a {
      	color: #575757;
    }

 .main-nav .navbar-nav.navbar-right li {
      	display: inline-block;
    }

 .main-nav .navbar-nav.navbar-right .button {
		display: block !important;
		width: 50%;
		margin: 10px auto 10px auto;
		padding: 10px;
    }

 .main-nav .button a {
      	color: #fff !important;
    }
}
   
/*====================================
	MAIN
====================================*/
section {
    position: relative;
    padding: 100px 0;
}

#content {
	padding: 0;
}

#content h1 {
	color: #ffffff;
    padding-bottom: 30px;
  }

#content h3 {
	color: #f9f9f9;
    font-size: 14px;
    line-height: inherit;
    letter-spacing: 2px;
    text-transform: uppercase;
    margin: 0;
} 

@media (min-width: 768px) {
	.banner .col-md-8 {
      padding-left: 0;
    }
}

.banner .caption {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: left;
    background-color: rgba(20,20,20,0.2);
    height: 100%;
    color: #000;
    cursor: e-resize;
    padding: 4em 0 0 2em;
}

.banner .caption.caption-alt {
    text-align: center;
}

.banner .item {
    background-position: inherit;
    background-repeat: no-repeat;
    background-attachment: local;
	background-size: cover;
	height: 650px;
}

.banner .item.page-alt {
	height: 300px;
}

.banner .item-first {
	background-image: url(../images/main-3.jpg);
}

.banner .item-second {
	background-image: url(../images/main-2.jpg);
}

.banner .item-third {
	background-image: url(../images/main-1.jpg);
}

.banner .item-fourth{
	background-image: url(../images/main-4.jpg);
}

@media only screen and (max-width: 992px) {
    section {
      padding: 60px 0;
	}

	.banner .item {
		background-position: center;
	}
}

@media only screen and (max-width: 767px) {
	.banner .caption {
		padding: 0;
	}
}

/*====================================
	CHECKOUT
====================================*/
.shopping-cart {
    width: 750px;
    height: 423px;
    margin: 80px auto;
    background: #FFFFFF;
    box-shadow: 1px 2px 3px 0px rgba(0,0,0,0.10);
    border-radius: 6px;
   
    display: flex;
    flex-direction: column;
  }
  .s_title {
    height: 60px;
    border-bottom: 1px solid #E1E8EE;
    padding: 20px 30px;
    color: #5E6977;
    font-size: 18px;
    font-weight: 400;
  }
   
  .checkout_item {
    padding: 20px 30px;
    height: 120px;
    display: flex;
  }
   
  .checkout_item:nth-child(3) {
    border-top:  1px solid #E1E8EE;
    border-bottom:  1px solid #E1E8EE;
  }

  .buttons {
    position: relative;
    padding-top: 30px;
    margin-right: 60px;
  }
  .delete-btn {
    display: inline-block;
    Cursor: pointer;
  }
  .delete-btn {
    width: 18px;
    height: 17px;
    background: url("https://designmodo.com/demo/shopping-cart/delete-icn.svg") no-repeat center;
  }

  .is-active {
    animation-name: animate;
    animation-duration: .8s;
    animation-iteration-count: 1;
    animation-timing-function: steps(28);
    animation-fill-mode: forwards;
  }
   
  @keyframes animate {
    0%   { background-position: left;  }
    50%  { background-position: right; }
    100% { background-position: right; }
  }
   
  .description {
    padding-top: 25px;
    margin-right: 60px;
    width: 115px;
  }
   
  .description span {
    display: block;
    font-size: 14px;
    color: #0c0d0e;
    font-weight: 400;
  }

  .quantity {
    padding-top: 20px;
    margin-right: 60px;
  }
  .quantity input {
    -webkit-appearance: none;
    border: none;
    text-align: center;
    width: 32px;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }
   
  button[class*=btn] {
    width: 30px;
    height: 30px;
    background-color: #E1E8EE;
    border-radius: 6px;
    border: none;
    cursor: pointer;
  }
  .minus-btn img {
    margin-bottom: 3px;
  }
  .plus-btn img {
    margin-top: 2px;
  }
   
  button:focus,
  input:focus {
    outline:0;
  }

  .total-price {
    width: 83px;
    padding-top: 27px;
    text-align: center;
    font-size: 16px;
    color: #43484D;
    font-weight: 300;
  }

  @media (max-width: 800px) {
    .shopping-cart {
      width: 100%;
      height: auto;
      overflow: hidden;
    }
    .checkout_item {
      height: auto;
      flex-wrap: wrap;
      justify-content: center;
    }
    .quantity,
    .description {
      width: 100%;
      text-align: center;
      margin: 6px 0;
    }
    .buttons {
      margin-right: 20px;
    }
  }

/*====================================
	SEARCH BAR FOR MENU
====================================*/

.menu_search a {
  float: left;
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}



.menu_search a.active {
  background-color: #2196F3;
  color: white;
}

.menu_search {
  margin-bottom: 20px;
  margin-left: auto;
  margin-right: auto;
  width: 78%;
}

.menu_search input[type=text] {
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: solid 1px;
  border-color: #d6d6d6;
}

.menu_search button {
  padding: 6px 10px;
  margin-top: 8px;
  margin-bottom: 20px;
  background: #ddd;
  font-size: 17px;
  border: solid 1px;
  border-color: #d6d6d6;
  cursor: pointer;
}

.menu_search button:hover {
  background: #ccc;
}

@media screen and (max-width: 600px) {
  .menu_search {
    float: none;
  }
  .menu_search button {
    float: none;
    display: block;
    text-align: left;
    width: 100%;
    margin: 0;
    padding: 14px;
  }
  .menu_search input[type=text] {
    border: 1px solid #ccc;  
  }
}


/*====================================
	MODAL FOR MENU
====================================*/

/* The Modal (background) */
.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  
  /* Modal Content/Box */
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
  }
  
  /* The Close Button */
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }

  #myBtn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit;
  }
  #myBtn:hover {
      background-color: lightgray;
  }


/*====================================
	FORM
====================================*/
.generic-form,
.sub-menu {
    background: #FFFFFF;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    margin: 2em auto;
    padding: 30px;
    width: 70%;
}

.sub-menu {
    width: 60%;
}
   
.generic-form h2 {
    background: #666666;
    color: #BEBEBE;
    font-size: 20px;
    font-weight: 400;
    margin: -30px -30px 30px -30px;
    padding: 20px;
    text-transform: uppercase;
}
   
.generic-form label, .generic-form legend {
    color: #c061bb;
    font-size: 18px;
    font-weight: 400;
    margin: 30px 0 10px 0;
}

.generic-form legend {
  border-bottom: none;
}
   
.generic-form input[type="radio"],
.generic-form input[type="checkbox"],
.generic-form input[type="text"],
.generic-form input[type="number"],
.generic-form input[type="date"],
.generic-form input[type="email"],
.generic-form input[type="password"],
   textarea {
    font-size: 16px;
    padding: 4px 0;
    margin-bottom: 5px;
}
   
.generic-form input[type="text"],
.generic-form input[type="number"],
.generic-form input[type="date"],
.generic-form input[type="time"],
.generic-form input[type="email"],
.generic-form input[type="password"],
   textarea {
    background: transparent;
    border: none;
    border-bottom: 1px solid #DDD;
    box-sizing: border-box;
    display: block;
    height: 20px;
    max-width: 100%;
    outline: none;
}

.generic-form input[type="text"],
.generic-form input[type="number"],
.generic-form input[type="email"],
.generic-form input[type="password"],
   textarea {
     width: 100%;
   }

.button {
    background: #c061bb;
    border-radius: 0;
    border: 0;
    color: #f9f9f9;
    font-size: inherit;
    font-weight: normal;
    padding: 10px 25px;
    transition: 0.5s 0.2s;
}

.generic-form input[type="submit"] {
    background-color: #c061bb;
    border: 1px solid #7e317a;
    cursor: pointer;
    color: #FFFFFF;
    display: inline-block;
    font-size: 14px;
    padding: 8px 18px;
    margin-top: 10px;
    text-decoration: none;
    text-transform: uppercase;
}
   
.generic-form input[type="submit"]:hover {
    background-color: #fff;
    color: #000;
}
   
.generic-form textarea {
    max-height: 400px;
    min-height: 100px;
    min-width: 100%;
}

/* https://www.w3schools.com/howto/howto_css_custom_checkbox.asp */ 
.checkboxSet {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.checkboxSet input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  background-color: #eee;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.checkboxSet input:checked ~ .checkmark:after {
  display: block;
}

.checkboxSet .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
   
/*====================================
	TABLE
====================================*/
   
.generic {
    background: white;
    margin: 40px auto;
    padding: 5px;
    width: 80%;
    box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -moz-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
    -webkit-box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.22);
}
   
.generic th {
    color: #FFF;
    background: #313131;
    border-right: 1px solid #344538;
    font-weight: 400;
    padding: 24px;
    text-align: left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    text-transform: uppercase;
    vertical-align: middle;
}
   
.generic th:last-child {
    border-right: none;
}
   
.generic tr {
    border-top: 1px solid #C1C3D1;
    border-bottom: 1px solid #C1C3D1;
    color: #666B85;
    font-size: 16px;
    font-weight: normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}
   
.generic tr:hover td {
    background: #c061bb;
    border-top: 1px solid rgb(34, 46, 38);
    color: #FFFFFF;
}
   
.generic tr:last-child {
    border-bottom: none;
}
   
.generic td {
    background: #FFFFFF;
    border-right: 1px solid rgb(193, 209, 194);
    font-weight: 300;
    font-size: 14px;
    padding: 10px;
    text-align: left;
    vertical-align: middle;
}
   
.generic td:last-child {
    border-right: 0px;
}
   
/*====================================
	FOOTER
====================================*/ 
footer {
	border-top: 1px solid rgba(0,0,0,0.05);
	padding: 60px 0;
	padding-bottom: 40px;
}

footer .title {
	padding-bottom: 10px;
}

footer h2 {
	font-size: 20px;
}

footer a,
footer p {
	color: rgb(56, 56, 56);
}

footer strong {
	color: #505050;
}

footer address p {
	margin-bottom: 0;
}

.footer-info,
footer .social-icon {
	margin-top: 20px;
}

.footer-alt {
	background: #c061bb;
	background-size: cover;
	border-radius: 20px;
	margin-top: 0;
	padding: 40px 0 40px 80px;
	overflow: hidden;
	position: relative;
	z-index: 22;
	right: 20px;
	bottom: 20px;
}

.footer-alt::after {
	content: "";
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: -2222;
}

.footer-alt h2 {
	color: #000;
}

.footer-alt p {
	color: #000;
}

.footer-alt strong {
	color: #fff;
}

.social-links {
	text-align: center;
}

.social-icon {
	position: relative;
    padding: 0;
    margin: 0;
}

.social-icon li {
    display: inline-block;
    list-style: none;
    margin-bottom: 5px;
}

.social-icon li a {
	background-color: #c061bb;
    border-radius: 100px;
    color: #fff;
    font-size: 15px;
    width: 35px;
    height: 35px;
    line-height: 35px;
    text-decoration: none;
    text-align: center;
    transition: all 0.4s ease-in-out;
    position: relative;
}

.social-icon li a:hover {
    background: #fff;
    color: #000;
}

@media only screen and (max-width: 992px) {
    .footer-info {
		margin-bottom: 50px;
	}
}

@media only screen and (max-width: 767px) {
	footer {
		padding: 60px 0;
		padding-bottom: 60px;
	}
  
	.footer-alt {
		right: 0;
		bottom: 0;
		margin-top: 30px;
	}
}